@import 'utils';

.nav-item {
  font-family: "Nanum Square";
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
  color: material-color('grey', '50');
  opacity: 0.9;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .2s;
  user-select: none;
  &:hover {
    font-weight: 700;
    opacity: 1;
  }
}