.logo {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  color: white;
  user-select: none;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  cursor: pointer;
}
.logo-text{
  font-family: 'Noto Serif', serif;
  position: absolute;
  margin-top: 10px;
  color: white;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  padding-bottom: 0.33rem;
}